*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

header{
    width: 100%;
    box-sizing: border-box;
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: center stretch;
}

h1{
    place-self: center start;
    font-size: 54px;
}

header ul{
    place-self: center end;
    list-style: none;
    display: flex;
    gap: 24px;
}

header ul>li{
    width: max-content;
    display: flex;
    align-items: center;
}

header ul>li:hover{
    cursor: pointer;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2vh;
    background-color: #e5e7eb;
    max-width: 300px;
    min-width: 250px;
}

.sidebar-header{
    font-size: 36px;
    place-self: start;
}

.sidebar-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.space{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.task-holder
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-image: url(./images/task-background.jpg);
    background-size: cover;
    min-height: 100vh;
}

.task-header
{
    font-size: 36px;
    font-weight: 900;
    align-items: center;
    justify-content: start;
    color: white;
}

.tasks-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
}

.task{
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 200fr 1fr;
    padding: 5px 15px;
    gap: 15px;
    border-radius: 8px;
    background-color: #f9fafb;
    transition: height 0.3s ease;
    overflow: hidden;
}

.task-notes{
    display: grid;
    grid-column: 2/3;
    font-size: 18px;
}

.task:hover{
    cursor: pointer;
}
  
.task-dropdown-active{
    height: max-content; 
}

.task-marker{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    place-self: center start;
}

.task-content{
    place-self: center start;
}

.task-parameters{
    place-self: center end;
}

.task-content,
.task-parameters
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
}

.task-title{
    font-size: 24px;
    height: 30px;
}

.task-description{
    height: 18px;
    font-size: 14px;
}

.task-parameters{
    font-size: 18px;
}

.add-task::before{
    content: '+ ';
    font-size: 30px;
    color: white;
    align-items: center;
}

.add-task{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-left: 20px;
    width: 100%;
    height: 64px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 20px;
    font-weight: 900;
    transition: 0.2s;
    position: sticky;
    bottom: 10px;
}

.add-task:hover{
    cursor: pointer;
    transform: scale(1.005);
    background-color: rgba(0, 0, 0, 0.7);
}

.add-task-form::before{
    content: 'Task';
    font-size: 36px;
    place-self: start center;
}

.add-task-form{
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;
}

form>div{
    display: flex;
    align-items: center;
    justify-content: start;
}

form label{
    width: 100px;
}

form>div:last-child{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

form button{
    width: 100px;
    height: 32px;
}

footer{
    width: 100%;
    padding: 20px;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.fab{
    color: black;
    transition: 0.3s ease-in-out;
}

.fab:hover{
    transform: rotate(360deg) scale(1.1);
}