*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

header{
    width: 100%;
    box-sizing: border-box;
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: center stretch;
}

h1{
    place-self: center start;
    font-size: 54px;
}

header ul{
    place-self: center end;
    list-style: none;
    display: flex;
    gap: 24px;
}

header ul>li{
    width: max-content;
    display: flex;
    align-items: center;
}

header ul>li:hover{
    cursor: pointer;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 54px;
}

.sidebar{
    grid-column: 1/2;
}

.task-holder
{
    display: grid;
    padding: 20px;
    gap: 20px;
    min-width: 345px;
}

.task-header
{
    font-size: 36px;
    place-self: start;
}

.task{
    height: 72px;
    display: grid;
    grid-template-columns: 1fr 200fr 1fr;
    padding: 5px 15px;
    gap: 15px;
    border-radius: 8px;
}

.task-marker{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    place-self: center start;
}

.task-content{
    place-self: center start;
}

.task-parameters{
    place-self: center end;
}

.task-content,
.task-parameters
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
}

.task-title{
    font-size: 24px;
    height: 30px;
}

.task-description{
    height: 18px;
    font-size: 14px;
}

.task-parameters{
    font-size: 18px;
}

.workspace-holder{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.workspace-header{
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.space{
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-title{
    font-size: 32px;
}

.add-task::before{
    content: '+ ';
    font-size: 28px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    align-items: center;
}

.add-task{
    grid-column: 1/3;
    width: 150px;
    height: 40px;
    place-self: center;
    border-radius: 15px;
    background-color: rgb(169, 253, 248);
    font-size: 20px;
    font-weight: 900;
    transition: 0.2s;
}

.add-task:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(85, 255, 244);
}

footer{
    width: 100%;
    padding: 20px;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.fab{
    color: black;
    transition: 0.3s ease-in-out;
}

.fab:hover{
    transform: rotate(360deg) scale(1.1);
}